.app{
  /* border: 2px solid pink; */
  
  min-height: 100vh;
  width:100vw;
    
  background-color: #d3e5e2;
  color: #212121;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app a{
  color: #212121;
  text-decoration: none;
}